.workouts-landing-page {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  position: relative;
}

.workouts-landing-content {
  margin-bottom: 20px;
}

.workouts-landing-content .title {
  font-size: 1.5em; /* Adjust this value to make the title bigger */
  color: #333;
  margin-bottom: 20px;
}

.workouts-landing-content p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

.workouts-landing-content ul {
  list-style-type: none;
  padding: 0;
}

.workouts-landing-content ul li {
  background-color: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 1em;
}

.workouts-landing-footer {
  margin-top: 20px;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  text-align: center;
  max-width: 600px;
  margin: 20px auto 0;
}

.workouts-landing-footer a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
  display: inline-block;
}

.workouts-landing-footer a:hover {
  background-color: #0056b3;
}
